@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&family=Roboto:ital,wght@1,300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  max-width: 1024px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
}

/** HEADER **/
header {
  border: 1px solid rgba(0, 0, 0, 0.2117647059);
  height: 60px;
  margin: 0 auto;
  width: 90%;
}
header h1 {
  background-color: rgba(220, 202, 41, 0.5215686275);
  color: #000000;
  font-size: 12px;
  font-family: "Roboto";
  line-height: 20px;
  text-align: center;
}
header div {
  align-items: center;
  background: rgba(128, 128, 128, 0.2392156863);
  font-style: center;
  display: flex;
  height: 39px;
  justify-content: space-evenly;
}
header div span, header div p {
  font-size: 12px;
  font-family: "Roboto";
  color: #000000;
  cursor: pointer;
}
header div span:hover, header div p:hover {
  text-decoration: underline;
}
header button {
  width: 90px;
  height: 25px;
  border-radius: 15px;
  text-align: center;
  float: right;
  border: none;
  margin-top: 10px;
  background: rgba(16, 72, 63, 0.5215686275);
  color: white;
  float: right;
  transform: translate(-10px, -45px);
}
header button:hover {
  color: #000000;
  cursor: pointer;
}

/** SECTIONS **/
section {
  width: 90%;
  height: 180px;
  border: 1px solid rgba(0, 0, 0, 0.2117647059);
  background-color: whitesmoke;
  margin: 10px auto;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
}
section div {
  width: 22%;
  display: flex;
  flex-direction: column;
}
section li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: rgba(12, 119, 169, 0.5215686275);
}

/** ARTICLES **/
article {
  border: 1.3px solid rgba(96, 125, 139, 0.6705882353);
  background: rgba(175, 215, 201, 0.4705882353);
  border-radius: 3px;
  height: 90px;
  line-height: 25px;
  padding: 5px;
}
article h4 {
  color: rgba(12, 119, 169, 0.5215686275);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
article span {
  color: rgba(108, 106, 89, 0.5215686275);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 14px;
}
article p {
  color: #000000;
  font-size: 12px;
  font-family: "Roboto";
}

/** SOCIAL ICONS **/
img {
  width: 35px;
  height: 35px;
}
img:hover {
  transform: rotate(45deg);
}

/** FOOTER **/
footer {
  align-items: center;
  background-color: rgba(222, 184, 135, 0.4392156863);
  border: 1px solid rgba(0, 0, 0, 0.2117647059);
  display: flex;
  height: 40px;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  width: 90%;
}
footer span {
  color: #000000;
  font-family: "Roboto";
  font-size: 12px;
}
footer input {
  border-radius: 20px;
  border: none;
  height: 23px;
  margin-right: 10px;
  text-align: center;
}
footer button {
  width: 90px;
  height: 25px;
  border-radius: 15px;
  text-align: center;
  float: right;
  border: none;
  margin-top: 10px;
  background: rgba(16, 72, 63, 0.5215686275);
  color: white;
  margin: 0;
}
footer button:hover {
  color: #000000;
  cursor: pointer;
}/*# sourceMappingURL=styles.css.map */