@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&family=Roboto:ital,wght@1,300&display=swap");

$font-family_1: Arial, Helvetica, sans-serif;
$font-family_2: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
$font-family_3: 'Roboto';
$background-color_0: #98abaa;
$background-color_1: #03faee;
$background-color_2: #f8f8f8;
$background-color_3: #dcca2985;
$background-color_4: #10483f85;
$background-color_5: whitesmoke;
$background-color_6: #afd7c978;
$background-color_7: #deb88770;
$text-color_1: #6c6a5985;
$text-color_2: #0c77a985;
$text-color_3: #000000;
$font-size_0: 12px;
$font-size_1: 16px;
$font-size_2: 18px;
$font-size_3: 21px;
$font-size_4: 24px;
$border-1: 1px solid #00000036;
$border-2: 1.3px solid #607d8bab;
