@import "reset.scss";
@import "variables.scss";
@import "mixin.scss";

body {
  max-width: 1024px;
  font-family: $font-family_1;
  margin: 0 auto;
}
/** HEADER **/
header {
  border: $border-1;
  height: 60px;
  margin: 0 auto;
  width: 90%;
  h1 {
    background-color: $background-color_3;
    color: $text-color_3;
    font-size: $font-size_0;
    font-family: $font-family_3;
    line-height: 20px;
    text-align: center;
  }
   div{
    align-items: center;
    background: #8080803d;
    font-style: center;
    display: flex;
    height: 39px;
    justify-content: space-evenly;
    span, p {
      font-size: $font-size_0;
      font-family: $font-family_3;
      color: $text-color_3;
      cursor: pointer;
    }
    span:hover,p:hover {
      text-decoration: underline;
    }
  }
   button {
    @include button;
    float: right;
    transform: translate(-10px, -45px);
  }
}
/** SECTIONS **/
section {
  @include section;
  div {
    @include ul;
  }
  li {
    font-family: $font-family_1;
    font-size: $font-family_2;
    color: $text-color_2;
  }
}
/** ARTICLES **/
article {
  @include article;
  @include encabezados($font-size_1);
}
/** SOCIAL ICONS **/
img {
  @include iconos;
}
/** FOOTER **/
footer {
  align-items: center;
  background-color: $background-color_7;
  border: $border-1;
  display: flex;
  height: 40px;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  width: 90%;
  span {
    color: $text-color_3;
    font-family: $font-family_3;
    font-size: $font-size_0;
  }
  input {
    border-radius: 20px;
    border: none;
    height: 23px;
    margin-right: 10px;
    text-align: center;
  }
  .button {
    @include button;
    margin: 0;
  }
}
