@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap');

$font-family_1: 'Be Vietnam Pro', sans-serif;
$font-size-0: 0.75rem;
$font-size-1: 0.86rem;
$font-size-2: 0.94rem;
$font-size-3: 1rem;
$font-size-4: 2.25rem;
$font-size-5: 2.5rem;
$font-size-6: 2.63rem;
$bg-aqua: #3CDDF3;
$bg-violet: #8B48BF;
$bg-violet-2: rgba(139, 72, 191, 0.3);
$bg-white: #FAFAFA;
$bg-black: #1E1E26;
$bg-blue-clear: rgba(185, 185, 193, 0.1);
$bg-blue-dark: #232C50;
$bg-valid-input:  rgb(205, 191, 191);
$text-span-art: #323851;
$text-p-art: #B3B2B7;
$text-white: #ffff;
$text-black: #0000;
$text-p-card: #B9B9C1;
$text-title-card: #3F4868;
$text-h3-card: #242E53;
$text-p-footer: #8C8C94;
$margin-auto: 0 auto;
$text-a-nav: #242E52;
$text-placeholder: #b3b2b7;